{% extends 'base.html.twig' %}

{% block body %}
    <div class="container m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-6xl py-4">Register</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <div class="justify-content-center d-flex">
                <button type="submit" class="mt-2 mx-2 btn btn-light btn-lg">Register</button>
                <div class="mt-5"></div> <a href="/" class="mt-4 pl-3" >Alrady registered</a></div>
            </div>

            {{ form_end(registrationForm) }}

        </div>
    </div>
{% endblock %}