
{{ form_start(form) }}
    {{ form_widget(form) }}

<div class="justify-content-center d-flex">
    <button class="mt-2 mx-2 btn btn-light btn-lg">{{ button_label|default('Save') }}</button>
    <a class="mt-4" href="{{ path('app_task_index') }}">back to list</a>
</div>

{{ form_end(form) }}
